{% extends "base.html" %}
{% block content %}

<center>
<div class="home-wrapper mt-5 d-flex align-items-center justify-content-center">
    <h1>Find Your Match</h1>

    <div class="buttons">
        <a href="/search"><button class="search-button">Search</button></a>
        <a href="https://gregsternik.netlify.app" target="_blank"><button class="portfolio-button">Portfolio</button></a>
    </div>

    <div class="left-heart heart">❤️</div>
    <div class="right-heart heart">❤️</div>
</div>
</center>
{% endblock %}