{% extends "base.html" %}

{% block content %}

<hr>

<h1 class="text-center profile-name">{{ person[1] }}</h1>
<p class="text-center profile-bio">{{ person[1] }} is a {{ person[2] }} who enjoys {{ person[4] }} in {{ person[3]}}, seeking a {{person[5]}} partner.</p>
<form action="/favourite_{{ person[2] }}_{{ person[0] }}">
    <div class="star text-center">{% if is_favourited %}⭐{% else %}✩{% endif %}</div>
</form>
<hr>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(() => {
        $(".star").on("click", () => {
            $("form").submit()
        })
    })
</script>
{% endblock %}