{% extends "base.html" %}

{% block content %}

<hr>

<h1 class="text-center profile-name">{{ person[1] }}</h1>
<p class="text-center profile-bio">{{ person[1] }} is a {{ person[2] }} who enjoys {{ person[4] }} in {{ person[3]}}, seeking a {{person[5]}} partner.</p>
<form class="d-flex justify-content-center" action="/favourite_{{ person[2] }}_{{ person[0] }}">
    <img src="{% if is_favourited %}static/images/start-filled.svg{% else %}static/images/star-outlined.svg{% endif %}" class="star text-center"></img>
</form>
<hr>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(() => {
        $(".star").on("click", () => {
            $("form").submit()
        })
    })
</script>
{% endblock %}